.navbar-brand {
    font-family: 'Noto Sans', sans-serif;
   
    
}
.cards-section{
    padding: 100px 0px;
}
.imagen-port{
padding: 20px 0px;
}
.imagen-port-bor{
    width: 100%;
    height: 80%;
    border-radius: 10px;

}

.text-nav-button{
font-size: 15px;


}
.imagen-port-bor:hover{
    border: black 1.5px solid;
}
.button-cards{
    width: 98%;
    height: 2.5em;
    background: white;
    border: black 1px solid;
    border-radius: 40px;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    }  
    .button-cards:hover {
    
        background: #0e0e0e;
        color: rgb(160, 160, 160);
      
      }
      .imagen-port h3{
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 25px;
        padding: 5px 0px;
        color: #1a1a1a;
    }
    .imagen-port p{
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        padding: 5px 0px;
        color: rgb(88, 88, 88);
    }

footer{
    padding: 50px 0px;
    background: black;
    color: white;
}
.rights{
color: white;
font-family: 'Open Sans', sans-serif;
}



.button-headline{
    width: 40%;
    height: 2.5em;
    background: rgba(196, 196, 196, 0);
    border: black 2px solid;
    border-radius: 40px;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
}


.headline-section{
    padding: 50px 0px;
}






.headline-one{
      margin: 0px 10px;
      margin-top: 30px;
      width: 98.2%;
      height: 40rem;
      text-align: center;
      border-radius: 10px;
      color: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .back-1{
      
    background: url(../img/yellow-color-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative; 
    
  }

  .cont-card-back-visible{
      width: 50%;
     visibility: visible;
  }
.cont-card-back-visible h1{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 70px;
}
.cont-card-back-visible p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}


  


  .cont-card-back-hide{
    width: 0%;
    height: 0px;
    visibility: hidden;
  }

  


  @media screen and (max-width:1000px){
  
    footer{
       margin-top: 200px;
    }
 
  }
  @media screen and (max-width:800px){
    .headline-one{
        margin: 0px 10px;
        margin-top: 30px;
        width: 97%;
        height: 30rem;
        text-align: center;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont-card-back-visible p{
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
    }
    footer{
       margin-top: 160px;
    }
 
  }
@media screen and (max-width:600px){
.happy-face{
    visibility: hidden;
}
    .imagen-port-bor{
        width: 100%;
        height: 80%;
        border-radius: 10px;
        outline:none;
        transition: all 4s cubic-bezier(.19,1,.22,1);
    }

    .cont-card-back-hide{
        margin: 0px 10px;
        margin-top: 30px;
          width: 95%;
          height: 12rem;
          text-align: center;
          border-radius: 10px;
          color: rgb(0, 0, 0);
          visibility: visible;
         
      }
      .cont-card-back-hide h1{
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 40px;
    }
    .cont-card-back-hide p{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }
    
      .cont-card-back-visible{
        margin: 0px 10px;
        margin-top: 30px;
          width: 95%;
          height: 20rem;
          text-align: center;
          border-radius: 10px;
          color: white;
          visibility: hidden;
         
      }
     
      .headline-one{
        margin: 0px 10px;
        margin-top: 30px;
        width: 95.7%;
        height: 30rem;
        text-align: center;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
    }
      
    


}







